# C++ related files
*CMakeFiles
CMakeCache.txt
*.cmake
Makefile
*sample.cpp
*sample.py
*test.cpp
*test.py
*sam.py
*sam.cpp
out*.txt
Testing/

.idea
*build
*.jpg
*.out
*.exe
*.csv

.obsidian/*

nd_array
